@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --color-main: #111111;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #e4e4e4;
  --color-light: #acb4bd;
  --color-lighter: #94cbffc5;
  --color-white: #f5f5f5c5;
  --color-border:#8f8f8f;
  --color-hover:#dbdbdb;
}

.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 2em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* APP STYLES */


.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}


.app {
  width: 100%;
  max-width: 90%;
  height: 88vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}


.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 30px;
  color: var(--color-dark);
  font-weight: 800;
  text-align: center;
}

.app-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.app-body {
  padding: 16px;
}

.item-count {
  position:fixed;
  font-size: 18px;
  color: var(--color-gray);
}
  
.item-list {
  padding: 0px 10px ;
  margin: 0px 16px 0px 16px;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}
  
.item-list::-webkit-scrollbar {
  display: none;
}
  
.item-list-item {
  border-bottom: 1px solid  var(--color-border);
  padding: 0px 10px;
  transition: all 0.2s ease-in-out;
}


.layout:hover {
  background-color: var(--color-hover);
}
  
.item-list-item h3,
.item-list-item p span {
  font-weight: 600;
}


.item-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.item-list-item p {
  font-size: 14px;
  color: var(--color-light);
}

.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


.floating-button > svg {
  fill: var(--color-bg);
}

.item-title{
  display: flex;
  color: rgb(12, 12, 12);
  font-size: 24px;
  font-weight: 600;
}

.item-title h3{
  margin-left: 3px ;
  padding-top: 5px;
  font-size: 20px;
}
.last-item-title{
  display: flex;
  color: rgb(12, 12, 12);
  font-size: 24px;
  font-weight: 600;
}

.item-header {
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0px 5px;
  border-bottom: 2px solid var(--color-dark);
  width: 50%;
  
}


.item-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
}

.item textarea {
  width: 20;
  height: 60px;
}

.item input {
  width: 20;
  height: 20px;
}

.item textarea::-webkit-scrollbar {
  display: none;
}

.view{
  background-color: #4CAF50;  
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.edit{
  background-color: #4c90af;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.remove{
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.table-header{
  font-size: 30px;
}

.item-table{
  height: 10px;
}

.item-edit{
  width: 50px;
}

.item-group{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
}

 textarea {
  resize: none;
 }

 